**/__pycache__/
/prototype/.ipynb_checkpoints
/.vscode
/.ipynb_checkpoints
/graphs/.ipynb_checkpoints
/graphs/tree_B33.dot
/graphs/tree_B33.png
/graphs/tree_B90.dot
/graphs/tree_B90.png
/graphs/tree_Caro-Kann.dot
/graphs/tree_Caro-Kann.png
/graphs/tree_English.dot
/graphs/tree_English.png
/graphs/tree_French.dot
/graphs/tree_French.png
/graphs/tree_QGD.dot
/graphs/tree_QGD.png
/graphs/tree_Queen's_Indian.dot
/graphs/tree_Ruy_Lopez.dot
/graphs/tree_Ruy_Lopez.png
/graphs/tree_Sicilian.dot
/graphs/tree_Sicilian.png
/application/__pycache__
/application/.ipynb_checkpoints
/plots/1stMoveCountCDPlot.png
/plots/2ndMoveCountCDPlot.png
/plots/3rdMoveCountCDPlot.png
/plots/plycount_distribution.png